<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InputMethodConnectionName</key>
	<string>net.mtgto.inputmethod.macSKK_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>InputController</string>
	<key>TISIntendedLanguage</key>
	<string>ja</string>
	<key>TISIconIsTemplate</key>
	<true/>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>net.mtgto.inputmethod.macSKK.ascii</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>net.mtgto.inputmethod.macSKK.ascii</string>
				<key>TISIntendedLanguage</key>
				<string>en</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeJISKeyboardShortcutKey</key>
				<integer>3</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>direct.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>direct.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smRoman</string>
			</dict>
			<key>net.mtgto.inputmethod.macSKK.hiragana</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>net.mtgto.inputmethod.macSKK.hiragana</string>
				<key>TISIntendedLanguage</key>
				<string>ja</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeJISKeyboardShortcutKey</key>
				<integer>1</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>hiragana.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>hiragana.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smJapanese</string>
			</dict>
			<key>net.mtgto.inputmethod.macSKK.katakana</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>net.mtgto.inputmethod.macSKK.katakana</string>
				<key>TISIntendedLanguage</key>
				<string>ja</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeJISKeyboardShortcutKey</key>
				<integer>2</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>katakana.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>katakana.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smJapanese</string>
			</dict>
			<key>net.mtgto.inputmethod.macSKK.hankaku</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>net.mtgto.inputmethod.macSKK.hankaku</string>
				<key>TISIntendedLanguage</key>
				<string>ja</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeJISKeyboardShortcutKey</key>
				<integer>0</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>hankaku.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>hankaku.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smJapanese</string>
			</dict>
			<key>net.mtgto.inputmethod.macSKK.eisu</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>net.mtgto.inputmethod.macSKK.eisu</string>
				<key>TISIntendedLanguage</key>
				<string>ja</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeJISKeyboardShortcutKey</key>
				<integer>0</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>eisu.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>eisu.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smJapanese</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>net.mtgto.inputmethod.macSKK.ascii</string>
			<string>net.mtgto.inputmethod.macSKK.hiragana</string>
			<string>net.mtgto.inputmethod.macSKK.katakana</string>
			<string>net.mtgto.inputmethod.macSKK.hankaku</string>
			<string>net.mtgto.inputmethod.macSKK.eisu</string>
		</array>
	</dict>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hira</string>
		<string>Kana</string>
		<string>Latn</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>icon-hiragana.png</string>
</dict>
</plist>
